.right{
    float:right
}

.left{
    float:left
}

ion-content.content-md{
    background: #ECECEC;
}

ion-navbar{
    .toolbar-background {
        background-color: map-get($colors, primary);
    }

    .toolbar-title{
        color: #fff;
    }

    .back-button{
        color: #fff;
    }
}